@import "../../../components/Colors.css";
.unselectedBtn {
  width: 45px;
  height: 45px;
  border: 2px solid var(--unsellected);
  background-color: var(--bright-gray);
  color: var(--unsellected);
  border-radius: 10px;
  font-size: 16px;
  margin-right: 15px;
}

.selectedBtn {
  width: 45px;
  height: 45px;
  border: 2px solid var(--main-color);
  background-color: var(--bright-main);
  color: var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  margin-right: 15px;
  font-weight: "bord";
}
