@import "../../../components/Colors.css";

body,
div,
h1,
h2,
button {
  margin: 0;
  padding: 0;
}

/* Style the top-level container to fill the viewport */
.TopTab {
  width: 100%;
  min-width: 1800px;
  height: 50px;
  background-color: white;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px var(--background) solid;
}

.SubTabs {
  width: 100%;
  min-width: 1800px;
  height: 50px;
  top: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px var(--background) solid;
}
.tabs {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.tabs text {
  margin: 0 5px; /* 좌우 5px씩 마진 설정, 총 10px 간격 */
}

.MyInfo {
  border: 1px;
  padding: 10px;
}
.TabBox {
  color: var(--unsellected);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
}

.SellectedTab {
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}
