@import "../Colors.css";
.chapterContainer {
  display: flex;
  flex-direction: column;
}
.backgroundBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background);
}
.deleted {
  display: none;
}
.chapterLine {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 2px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: border;
  border-radius: 5px;
  cursor: pointer;
}
.chapterLine button {
  align-self: center;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.chapterLine input {
  background-color: white;
  height: 20px;
  width: 220px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: border;
  outline: none;
}
.readOnlyInput {
  height: 20px;
  margin-left: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.chapterLine a {
  height: 20px;
  width: 220px;
  margin-left: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: default;
}
.checkBox {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border: 2px var(--unsellected) solid;
}
.level1 {
  margin-left: 0px;
}
.level2 {
  margin-left: 10px;
}
.level3 {
  margin-left: 20px;
}

.modifyBox {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.addBtn {
  align-self: center;
}
