.inputBox {
  margin-bottom: 10px;
}

.inputBox label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputBox input {
  width: 30%;
  height: 10px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
