/* 기본 링크 스타일 제거 */
a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
  cursor: pointer; /* 커서를 포인터로 변경하여 마우스 오버 시 인터랙션 표시 */
}

/* 링크와 일반 텍스트에 적용할 공통 스타일 */
.customLink,
.customText {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
  cursor: pointer; /* 커서를 포인터로 변경하여 마우스 오버 시 인터랙션 표시 */
}

/* 링크에 마우스 오버 시 스타일 변경 */
.customLink:hover {
  color: #007bff; /* 원하는 마우스 오버 시 색상으로 변경 */
}
