/* 버튼스타일.module.css */
@import "../Colors.css";
.iconButton {
  background: none;
  cursor: pointer;
  font-size: 20px; /* 아이콘 크기를 조정합니다. */
  margin: 0;
  padding: 0;
  color: #333; /* 아이콘 색상을 지정합니다. */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.iconButton:hover {
  color: var(--main-color); /* 호버 시 아이콘 색상 변경 (선택 사항) */
}

.disabledBtn {
  background: none;
  border: none;
  font-size: 20px; /* 아이콘 크기를 조정합니다. */
  margin: 0;
  padding: 0;
  color: var(--background); /* 아이콘 색상을 지정합니다. */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.red {
  color: var(--warning);
}
.checked {
  color: var(--main-color);
}
